
body
{
    font-family: Poppins, sans-serif;
    transition: all 2s;
    box-sizing: border-box;
}


.home
{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/bg-image-1.jpg);
    background-size:cover;
    width:100%;
    height:100vh;
     background-attachment: fixed;
}

.homecontent
{
    color: #FFF;
    padding:10% 0;
}

.homecontent h1
{
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size:78px;
    animation-name: gad;
    animation-duration:2s;
    transition:all 1s;
}
.homecontent p
{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size:18px;
    animation-name: gad;
    animation-duration:4s; 
    transition:all 1s;
}

.homecontent button
{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size:20px;
    animation-name: gad;
    animation-duration:6s; 
    transition:all 1s;
}
.navbar
{
    border-bottom:1px solid rgba(255,255,255,.3);
    padding:0;
    color:white;
    background-color: transparent;
}
nav .logo
{
    width:100px; 
}

.navbar-light .navbar-nav .nav-link
{
    color:white;
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 12px;
    transition:all .5s;
}

.navicon
{
    border-left: 1px solid rgba(255,255,255,.3);;
    padding:25px;
}
.navicon i
{
    transition:all .5s;
    cursor: pointer;
    font-size:1rem;
}

.navicon i:hover
{
    color: #787878;
}


/*End header*/

/*Start who we are */

.about-us a
{
    border:1px solid rgba(0,0,0,.3);
    background-color: transparent;
    border-radius: 0;
    color:#767676;
    text-transform: uppercase;
    font-size:10px;
}

.about-us a:hover
{
    background-color: black;
    color: #FFF;
}

.about-us p
{
    line-height:2em;
    font-family: "Source Sans Pro", sans-serif;
    font-size:20px;
    font-weight:300;
    color: #767676;
}

.about-us h2
{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size:15px;
    color: rgb(31, 31, 31);
    font-size:13px;
}


.iconside
{
    overflow: auto;
}
.iconside .icon
{
    float: left;
    width:10%;
    color: #02c3d9;
    font-size: 40px;
}

.icon-content
{
    float: left;
    width: 90%;
    padding-left: 20px;
}


.about-services .services
{
    border-top:1px solid rgba(0,0,0,.1);
}

.services .bac-img
{
    background-image:url(../images/bg-image-5.jpg);
    background-size: cover;
    width:100%;
    height:100%;
}

@keyframes gad
{
    0%
    {
        opacity: 0;
    }
    
    20%
    {
        opacity: 0;
    }
    
    100%
    {
         opacity: 1;
         transform: scale(1);
    }
}








